body {
  margin: 0;
  background-color: #4a4a4a;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html {
  scroll-behavior: smooth;
}

main {
  background-color: #3a3a3a;
}

header {
  background: url(/images/header_bkg.png);
  background-size: cover;
  border-bottom: 2px solid black;
  text-align: center;
  height: 20vh;
}

.header-inner {
  margin: 50px 10px 10px;
}

.header-top {
  font-family: ethnocentric, sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  color: #19ff00;
}

.header-sub {
  font-family: ethnocentric, sans-serif;
  font-weight: 300;
  color: #19ff00;
}

.about {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 75px;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.arrow,
.arrow-up {
  margin: 50px auto 10px;
  width: 50px;
}

.portrait {
  display: block;
  max-width: 150px;
  margin: 50px auto;
}

p {
  margin: 0 auto;
  font-size: 0.85em;
  font-family: input-sans, sans-serif;
  font-weight: 300;
  color: white;
}

.projects {
  background-color: #4a4a4a;
  border-top: 2px solid black;
  padding-bottom: 50px;
}

h1,
h3 {
  font-family: ethnocentric, sans-serif;
  font-weight: 300;
  color: #19ff00;
  text-align: center;
}
h1 {
  font-size: 1.1em;
  padding: 20px 0px 5px;
}

h2 {
  font-family: input-sans, sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #19ff00;
  text-align: center;
}

h3 {
  font-size: 0.9em;
  margin-top: 50px;
}

.content-wrapper {
  max-width: 250px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #3a3a3a;
  padding: 10px;
  margin-bottom: 75px;
}

.content-wrapper p {
  padding: 10px;
}

.links {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

.screenshot {
  border-radius: 10px;
  width: 100%;
}

.project-icon,
.mail,
.linkedin {
  transform: scale(0.95);
  cursor: pointer;
}

.project-icon:hover,
.mail:hover,
.linkedin:hover {
  transform: scale(1);
}

footer {
  background-color: #3a3a3a;
  border-top: 2px solid black;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  max-width: 50px;
}

footer p {
  padding: 10px;
}

.skills {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.arrow-up {
  display: block;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (min-width: 600px) {
  .content-wrapper {
    max-width: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .project-wrapper {
    display: flex;
    flex-direction: row;
  }
  .content-wrapper {
    max-width: 300px;
  }

  h1 {
    margin: 50px;
  }
}
