body {
  margin: 0;
  background-color: #4a4a4a;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

html {
  scroll-behavior: smooth;
}

main {
  background-color: #3a3a3a;
}

img {
  max-width: 100%;
}

header {
  background: url(/images/header_bkg.png);
  background-size: cover;
  border-bottom: 2px solid black;
  text-align: center;
  height: 20vh;
}

.header-inner {
  margin: 50px 10px 10px;
}

.header-top {
  font-family: ethnocentric, sans-serif;
  font-size: 1.4em;
  font-weight: 300;
  color: white;
}

.header-sub {
  font-family: input-sans, sans-serif;
  font-weight: 300;
  color: #19ff00;
}

.about {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 75px;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.arrow {
  margin: 50px auto 10px;
  width: 50px;
}

.portrait {
  display: block;
  max-width: 100px;
  margin: 50px auto;
}

p {
  margin: 0 auto;
  font-size: 0.85em;
  font-family: input-sans, sans-serif;
  font-weight: 300;
  color: #19ff00;
}

.projects {
  background-color: #4a4a4a;
  border-top: 2px solid black;
  padding-bottom: 50px;
}

h1,
h3 {
  font-family: ethnocentric, sans-serif;
  font-weight: 300;
  color: #19ff00;
  text-align: center;
}
h1 {
  font-size: 1.1em;
  padding: 20px 0px 5px;
}

h2 {
  font-family: input-sans, sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #19ff00;
  text-align: center;
}

h3 {
  font-size: 0.9em;
  margin-top: 50px;
}

.content-wrapper {
  max-width: 250px;
  margin: 0 auto;
  border: 1px solid #19ff00;
  border-radius: 10px;
  background-color: #3a3a3a;
  padding: 10px;
  margin-bottom: 75px;
}

.links {
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

.links:hover {
  transform: scale(1);
}

.screenshot {
  border-radius: 10px;
}

.project-icon {
  transform: scale(0.95);
  cursor: pointer;
}

.project-icon:hover {
  transform: scale(1);
}

footer {
  background-color: #3a3a3a;
  border-top: 2px solid black;
  text-align: center;
}

.linkedin {
  display: block;
  margin: 0 auto;
}

footer p {
  padding: 10px;
}

.skills {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

@media screen and (min-width: 600px) {
  .project-wrapper {
    display: flex;
    flex-direction: row;
  }

  .content-wrapper {
    max-width: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .content-wrapper {
    max-width: 250px;
  }

  h1 {
    margin: 50px;
  }
}
